*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_pic {
    width: 70%;
    height: 300px;
    background-color: red;    
}


.debug_text {
    width: 30%;
    height: 300px;
    background-color: yellow;    
}





/* css */

.header_top{
    
    background-color: aqua;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header_bot{    
    background-color:blue;
    height: 350px;
}


.text_header{
    width: 70%;
    background-color: pink;
    height: 70%;
    
    
}

.header_bot{
    display: flex;
    align-items: center;
    justify-content: center;
}



section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    min-height: 500px;   
}



.container_grey{
    background-color: grey;
}


