*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_pic {
    width: 70%;
    height: 300px;
    background-color: red;    
}

.debug_text {
    width: 30%;
    height: 300px;
    background-color: yellow;    
}

.debug.list{
    background-color: coral;
    border: 1px solid white;
}


.debug.social{
    background-color: hotpink;
}

.debug{
    height: 300px;
}

/* css */

.header_top{   
    background-color: aqua;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: auto;
}

.header_bot{    
    background-color:blue;
    height: 350px;
}

.text_header{
    width: 60%;
    background-color: pink;
    height: 70%;    
}

.header_bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_white ,.section_grey {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;   
}

.section_white ,.section_grey , .section_bot , .foot_top{
    width: 70%;
    margin: auto;
}

.container.grey{
    background-color: grey;
    padding: 30px 0;
   
}

.section_bot{ 
    min-height: 400px;
    background-color: green;   
}

.container_black_top{
    background-color:black;
    padding: 10px 0 30px;
    
}

.container.top{
    border-bottom: 1px solid white;
}

.foot_top{
    display: flex;
}

.social{
    width: 30%;
}

.list{
    width: calc(70% / 4);
}

.foot_bot{
    width: 70%;
    margin: auto;
}

.container_black_bottom{
    background-color: black;
    padding-top: 10px;
    border-top: 1px solid white;
}

.container_bottom{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    height: 30px;
    padding-bottom: 0;
}