*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_pic {
    width: 70%;
    height: 300px;
    background-color: red;    
}

.debug_text {
    width: 30%;
    height: 300px;
    background-color: yellow;    
}

.debug.list{
    background-color: coral;
    border: 1px solid white;
}


.debug.social{
    background-color: hotpink;
}

.debug{
    height: 70px;
}

/* css */

.header_top{   
    background-color: aqua;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header_bot{    
    background-color:blue;
    height: 350px;
}

.text_header{
    width: 70%;
    background-color: pink;
    height: 70%;    
}

.header_bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_white ,.section_grey {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;   
}

.container{
    padding: 50px 250px;
}

.container.grey{
    background-color: grey;
}

.section_bot{ 
    min-height: 700px;
    background-color: green;   
}


.container.black{
    background-color:black;
}

.foot_top{
    display: flex;

}



.social{
    width: 30%;
}

.list{
    width: calc(70% / 4);
}